<p style="color: green"><%= notice %></p>

<h1>Enderecos</h1>

<hr/>
<div id="enderecos">
  <% @enderecos.each do |endereco| %>
    <%= render endereco %>
    <p>
      <%= link_to "Show this endereco", endereco %>
    </p>

    <hr/>
  <% end %>
</div><br/>

